--extra-index-url https://download.pytorch.org/whl/cu118
torch 
torchvision --index-url 
transformers==4.46.3
tokenizers==0.20.3
einops
addict 
easydict
wheel
packaging
ninja
Pillow
qdrant_client
numpy 
pdf2image
ollama
psutil
opencv-python
setuptools